@media screen and (max-width: 400px) {
  #features {
    padding: 0px;
    width: 111%;
  }
  #menu,
  #header,
  #about,
  #tiers,
  #wallet,
  #private,
  #nft,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
